.contact {
    width: min(90vw, 1024px);
    background-color: #ffa500;
    height: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.contact h2 {
    padding-top: 24px;
    color: #fff;
}

form {
    width: 90%;
    margin: 20px auto;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.contact-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-input input {
    width: 100%;
    height: 32px;
    border-radius: 5px;
    border: none;
    font-size: 1.1rem;
    padding: 5px;
}

textarea {
    width: 100%;
    height: 96px;
    overflow: scrollY;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 5px;
    border: none;
}

input[type="submit"] {
    margin: 16px 0;
    padding: 8px 24px;
    border: none;
    border-radius: 5px;
    background-color: #32cd32;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: 0.4s ease-out;
}

input[type="submit"]:hover {
    transform: translateY(-8px);
    transition: transform 0.4s ease-out;
}

.contact-input input:focus {
    outline-color: #32cd32;
}

textarea:focus {
    outline-color: #32cd32;
}

.success {
    position: fixed;
    padding: 16px;
    top: 100px;
    right: 0;
    z-index: 5;
    width: 250px;
    display: flex;
    color: #32cd32;
    background-color: #fff;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    animation: slideFromRight 0.4s ease-out;
}

.fail {
    position: fixed;
    padding: 16px;
    top: 100px;
    right: 0;
    z-index: 5;
    width: 250px;
    display: flex;
    align-items: center;
    color: #ff0000;
    background-color: #fff;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    animation: slideFromRight 0.4s ease-out;
}

.success p,
.fail p {
    padding-left: 5px;
}

.msgIcon {
    font-size: 2rem;
}

@keyframes slideFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@media (min-width: 768px) {

    .contact {
        top: 0;
        height: 340px;
    }

    form {
        width: 80%;
    }
    .contact-input {
        flex-direction: row;
    }

    .contact-input input {
        height: 36px;
    }

    textarea {
        height: 128px;
    }
}